.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__cwSXg {
  max-width: 1380px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 42px 20px;
}
.freeBox__cwSXg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__cwSXg > :global(.__wab_flex-container) > *,
.freeBox__cwSXg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cwSXg > :global(.__wab_flex-container) > picture > img,
.freeBox__cwSXg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cwSXg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cwSXg > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cwSXg > :global(.__wab_flex-container) > *,
  .freeBox__cwSXg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cwSXg > :global(.__wab_flex-container) > picture > img,
  .freeBox__cwSXg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__y6RQb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__y6RQb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__y6RQb > :global(.__wab_flex-container) > *,
.freeBox__y6RQb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y6RQb > :global(.__wab_flex-container) > picture > img,
.freeBox__y6RQb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h3__oLqYn {
  height: auto;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  padding: 0px;
}
.freeBox___1F0Qo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___1F0Qo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox___1F0Qo > :global(.__wab_flex-container) > *,
.freeBox___1F0Qo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1F0Qo > :global(.__wab_flex-container) > picture > img,
.freeBox___1F0Qo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox__quf8M {
  display: flex;
  flex-direction: column;
  width: auto;
}
.freeBox__quf8M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__quf8M > :global(.__wab_flex-container) > *,
.freeBox__quf8M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__quf8M > :global(.__wab_flex-container) > picture > img,
.freeBox__quf8M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link__lnNnc {
  position: relative;
}
.link___9PvIw {
  position: relative;
}
.freeBox__jwbF {
  display: flex;
  flex-direction: column;
  width: auto;
}
.freeBox__jwbF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__jwbF > :global(.__wab_flex-container) > *,
.freeBox__jwbF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jwbF > :global(.__wab_flex-container) > picture > img,
.freeBox__jwbF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link__deDlZ {
  position: relative;
}
.link__r0WdI {
  position: relative;
}
.freeBox__foJ9C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__foJ9C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__foJ9C > :global(.__wab_flex-container) > *,
.freeBox__foJ9C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__foJ9C > :global(.__wab_flex-container) > picture > img,
.freeBox__foJ9C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h3__lb26E {
  height: auto;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  padding: 0px;
}
.freeBox__yelE5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__yelE5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__yelE5 > :global(.__wab_flex-container) > *,
.freeBox__yelE5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yelE5 > :global(.__wab_flex-container) > picture > img,
.freeBox__yelE5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox__ibh4 {
  display: flex;
  flex-direction: column;
  width: auto;
}
.freeBox__ibh4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__ibh4 > :global(.__wab_flex-container) > *,
.freeBox__ibh4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ibh4 > :global(.__wab_flex-container) > picture > img,
.freeBox__ibh4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link__rZk34 {
  position: relative;
}
.link__qOfB9 {
  position: relative;
}
.freeBox__fOnoS {
  display: flex;
  flex-direction: column;
  width: auto;
}
.freeBox__fOnoS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__fOnoS > :global(.__wab_flex-container) > *,
.freeBox__fOnoS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fOnoS > :global(.__wab_flex-container) > picture > img,
.freeBox__fOnoS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link__linJe {
  position: relative;
}
.link___8GWif {
  position: relative;
}
.freeBox__mGfvi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mGfvi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mGfvi > :global(.__wab_flex-container) > *,
.freeBox__mGfvi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mGfvi > :global(.__wab_flex-container) > picture > img,
.freeBox__mGfvi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3___1Xuo {
  height: auto;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  padding: 0px;
}
.freeBox__yboc0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__igMut {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___75ISv {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 380px;
  top: 0px;
  color: var(--token-g9AMUNy-zkvo);
  cursor: pointer;
  width: 30px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
