.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  min-width: 0;
  padding: 117px 20px 103px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.freeBox__pZ8Nr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__pZ8Nr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.freeBox__pZ8Nr > :global(.__wab_flex-container) > *,
.freeBox__pZ8Nr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pZ8Nr > :global(.__wab_flex-container) > picture > img,
.freeBox__pZ8Nr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.freeBox__hwIq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: none;
  padding: 0px;
}
.freeBox__hwIq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__hwIq > :global(.__wab_flex-container) > *,
.freeBox__hwIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hwIq > :global(.__wab_flex-container) > picture > img,
.freeBox__hwIq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: left;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  align-self: flex-start;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-g9AMUNy-zkvo);
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 11px;
}
.text {
  font-size: 15px;
  color: var(--token-g9AMUNy-zkvo);
  font-weight: 400;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-g9AMUNy-zkvo);
  flex-shrink: 0;
}
.freeBox__x9PBp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 8px;
}
.freeBox__x9PBp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__x9PBp > :global(.__wab_flex-container) > *,
.freeBox__x9PBp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x9PBp > :global(.__wab_flex-container) > picture > img,
.freeBox__x9PBp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x9PBp {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x9PBp > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox___3MCuS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3MCuS {
    width: 150px;
    padding-right: 1px;
    padding-left: 0px;
    height: 200px;
    flex-shrink: 0;
  }
}
.img__aKi9E {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: var(--token-F2a6NVF6jf_a);
  min-width: 0;
  flex-shrink: 0;
}
.img__aKi9E > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aKi9E {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__kSf7W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 213px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kSf7W {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__gjHOa {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-AO3AuLsej9RS);
  height: var(--token-F2a6NVF6jf_a);
  margin-top: 0px;
  flex-shrink: 0;
}
.img__gjHOa > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gjHOa {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__kzzX0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 66px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kzzX0 {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__xQpi9 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-AO3AuLsej9RS);
  height: var(--token-F2a6NVF6jf_a);
  flex-shrink: 0;
}
.img__xQpi9 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xQpi9 {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__twSay {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 204px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__twSay {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__x5As {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-AO3AuLsej9RS);
  height: var(--token-F2a6NVF6jf_a);
  margin-top: 0px;
  flex-shrink: 0;
}
.img__x5As > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__x5As {
    height: 100%;
    padding-left: 0px;
    min-height: 0;
  }
}
.freeBox__lNtI1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lNtI1 {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__pwGtY {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-AO3AuLsej9RS);
  height: var(--token-F2a6NVF6jf_a);
  flex-shrink: 0;
}
.img__pwGtY > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__pwGtY {
    height: 100%;
    width: auto;
    min-height: 0;
  }
}
