.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 99;
  background: linear-gradient(#0a0a0a1c, #0a0a0a1c),
    url("/plasmic/commerce_storefront/images/home4Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.navBar:global(.__wab_instance) {
  align-self: center;
}
.section__amioS {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__amioS {
    padding-bottom: 0px;
    left: auto;
    top: auto;
  }
}
.container3 {
  max-width: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-self: flex-end;
  min-width: 0;
  padding: 200px 23px 220px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container3 {
    padding-top: 30px;
    padding-bottom: 66px;
  }
}
.nn:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__zbz9Q {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zbz9Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zbz9Q > :global(.__wab_flex-container) > *,
.freeBox__zbz9Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zbz9Q > :global(.__wab_flex-container) > picture > img,
.freeBox__zbz9Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__eSRt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__eSRt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__eSRt > :global(.__wab_flex-container) > *,
.freeBox__eSRt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eSRt > :global(.__wab_flex-container) > picture > img,
.freeBox__eSRt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.h1 {
  position: relative;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 45px;
  }
}
.text__usw6G {
  width: 100%;
  height: auto;
  max-width: 585px;
  text-align: center;
  color: var(--token-T3Ll9_kovDzB);
  font-size: 22px;
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__usw6G {
    font-size: 20px;
  }
}
.freeBox___7VFKr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Ll9_kovDzB);
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  border-radius: 0px;
  padding: 10px 30px;
  border: 1px solid var(--token-T3Ll9_kovDzB);
}
.root .button:hover {
  background: var(--token-g9AMUNy-zkvo);
  border-color: var(--token-g9AMUNy-zkvo);
}
.section__brygH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 20px;
}
.freeBox__uGdi7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__uGdi7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 28px);
  height: calc(100% + 28px);
}
.freeBox__uGdi7 > :global(.__wab_flex-container) > *,
.freeBox__uGdi7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uGdi7 > :global(.__wab_flex-container) > picture > img,
.freeBox__uGdi7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 28px;
}
.h3__mIgZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.link__j2Ndb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-g9AMUNy-zkvo);
}
.link__j2Ndb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link__j2Ndb > :global(.__wab_flex-container) > *,
.link__j2Ndb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__j2Ndb > :global(.__wab_flex-container) > picture > img,
.link__j2Ndb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.text__f4F7H {
  font-size: 15px;
  color: var(--token-g9AMUNy-zkvo);
  font-weight: 400;
}
.svg__dzCsm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-g9AMUNy-zkvo);
  flex-shrink: 0;
}
.section__npjpl {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  background: var(--token-T3Ll9_kovDzB);
  padding: 100px 20px;
}
.section__npjpl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.section__npjpl > :global(.__wab_flex-container) > *,
.section__npjpl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__npjpl > :global(.__wab_flex-container) > picture > img,
.section__npjpl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__npjpl {
    padding-top: 60px;
    padding-bottom: 60px;
    left: auto;
    top: auto;
  }
}
.freeBox__uu3W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__uu3W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__uu3W > :global(.__wab_flex-container) > *,
.freeBox__uu3W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uu3W > :global(.__wab_flex-container) > picture > img,
.freeBox__uu3W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uOt4S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.categoryCollection___7PwUk:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.collection__lh0Qh:global(.__wab_instance) {
  max-width: 100%;
}
.categoryMedia__fWuH2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-fBr3G_lsCRiI);
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.categoryField__fA7J6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__fwBX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__v0EnD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__jgDct {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
.categoryCollection__e57S2:global(.__wab_instance) {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.collection__hjxQu:global(.__wab_instance) {
  max-width: 100%;
}
.categoryMedia__q9CGj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-fBr3G_lsCRiI);
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.categoryField__ewwYj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__t3GP6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__aWuQr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__uBYpk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.categoryCollection__mX5:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.collection__foGxF:global(.__wab_instance) {
  max-width: 100%;
}
.categoryMedia__kJuls:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: var(--token-fBr3G_lsCRiI);
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.categoryField___3YanU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__vujNc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__sFkwY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__nurFi {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  background: none;
  padding: 100px 20px;
}
.section__nurFi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.section__nurFi > :global(.__wab_flex-container) > *,
.section__nurFi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__nurFi > :global(.__wab_flex-container) > picture > img,
.section__nurFi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__nurFi {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.freeBox___5WTi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox___5WTi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___5WTi > :global(.__wab_flex-container) > *,
.freeBox___5WTi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5WTi > :global(.__wab_flex-container) > picture > img,
.freeBox___5WTi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.text__xUpln {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 635px;
  text-align: center;
  min-width: 0;
}
.h3___1Rv9T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: center;
  min-width: 0;
}
.link__fFo9X {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-g9AMUNy-zkvo);
}
.link__fFo9X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link__fFo9X > :global(.__wab_flex-container) > *,
.link__fFo9X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fFo9X > :global(.__wab_flex-container) > picture > img,
.link__fFo9X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.text__agn5N {
  font-size: 15px;
  color: var(--token-g9AMUNy-zkvo);
  font-weight: 400;
}
.svg__wvPuf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-g9AMUNy-zkvo);
  flex-shrink: 0;
}
.productCollection__ciYs3:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__ciYs3:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__k28S3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.productMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.text__kzMnx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__oq4W1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.shopingSection:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.instagram:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.productCollection___7VKT:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
.freeBox___6ZPjO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productTextField:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.productMedia:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6L2P8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__nsvId {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
